<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ящеры</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
<body>
<button onclick="player.loadCords()"> load
</button>
<button onclick="player.saveCords()"> save
</button>

<div class="red">
<!--Lorem ipsum dolor sit amet, consectetur adipisicing.-->
</div>

<!--<div class="container tiny5-regular">
    <p>Вы любите розы</p>
    <p>Вскибиди чайник</p>
    <p>Панк-рок</p>
</div>-->
</body>
<script src={% static "Scripts/script.js" %}></script>
<script src={% static "Scripts/animation.js" %}></script>
<script src={% static "Scripts/game.js" %}></script>
</html>
